.button__input {
   background-color: #007380;
   color: white;
   padding: 8px;
   border: none;
   margin: 15px 20px 20px 5px;
   transition: 0.3s;
}

@media (min-width: 768px) {
   .button__input:hover {
      transform: scale(1.05);
      background-color: #52b5c0;
      cursor: pointer;

   }
}

@media (max-width: 768px) {
   .button__input:hover {
      background-color: #448c94;
   }
}

@media (max-width: 768px) {
   .button__input {
      margin: 0 15px 15px 15px;
   }
}

.button__hideDone {
   background-color: transparent;
   border: none;
   color: #007380;
   transition: 0.3s;
   padding-top: 12px;
}

.button__hideDone:hover {
   color: #52b5c0;
   cursor: pointer;
}

.button__completeAllTasks {
   background-color: transparent;
   border: none;
   color: #007380;
   transition: 0.3s;
   padding-top: 12px;
}

.button__completeAllTasks:hover {
   color: #52b5c0;
   cursor: pointer;
}

.button__completeAllTasks:disabled {
   background-color: transparent;
   border: none;
   color: rgb(79, 79, 79);
   cursor: default;

}

.button__done {
   background: #1b7c1f;
   width: 30px;
   height: 30px;
   color: white;
   border: none;
   transition: 0.3s;
}

.button__done:hover {
   background: #1e9f22;
   cursor: pointer;
}

.button__remove {
   background: #ec293d;
   width: 30px;
   height: 30px;
   color: white;
   border: none;
   transition: 0.3s;
}

.button__remove:hover {
   background: #fe4659;
   cursor: pointer;
}