.conatainer {
    margin: 0 auto;
    max-width: 900px;
    word-break: break-word;
}

@media (max-width: 768px) {
    .conatainer {
        margin: 0 auto;
        max-width: 90%;
        word-break: break-word;
    }
}